<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item "><a class="nav-link btn link-body-emphasis px-2" [routerLink]="['']" [routerLinkActive]="'bg-primary'" [routerLinkActiveOptions]="{exact:true}"  aria-current="page">Home</a></li>
      <li class="nav-item "><a class="nav-link btn link-body-emphasis px-2" [routerLink]="['product']" [routerLinkActive]="'bg-primary'">Product</a></li>
      <li class="nav-item "><a class="nav-link link-body-emphasis px-2" [routerLink]="['orders']" [routerLinkActive]="'bg-primary'">Orders</a></li>
      <li class="nav-item "><a class="nav-link btn link-body-emphasis px-2" [routerLink]="['contact']" [routerLinkActive]="'bg-primary'">Contact</a></li>
      <li class="nav-item "><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link btn link-body-emphasis px-2">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link btn link-body-emphasis px-2">Sign up</a></li>
    </ul>
  </div>
</nav>
